*{
margin: 0;
position: 0;
border-radius: 10px;
font-size: 25px;
text-align: center;
}
body{
background-image: url(images/wallpaper.jpg);
background-size: cover;
background-repeat: no-repeat;
margin: 0;
padding: 0;
background-position: fixed;
}


header{
background-color: black;
opacity: 0.9;
padding: 0px;
color: white;
position: sticky;
 width: 100%;
}

footer{
background-color: black;
opacity: 0.9;
padding: 15px;
color: white;
}

#img-logo{
padding-right: 50%; 
}
.button-nav{
border: none;
color: white;
padding: 15px;
text-align: center;
font-size: 16px;
background-color: black;
color: white;
opacity: 0.5;
border-radius: 10px;
}
.button-nav:hover{
background-color: white;
color: black;
transition: all 5s;
border-radius: 100px 100px; 
}
.button_a{
	 text-decoration: none;
	 color: white;
}
#img123{
width: 300px;
height: 200px;
}
.card{
display: grid;
grid-template-columns:repeat(2, 1fr) ;
grid-template-rows: minmax(300px, 1fr);
font-size: 30px;
padding: 100px;
gap: 50px;
align-items: center;
text-align: center;
border: 3px solid lightgrey;
border-radius: 5px;
}
.card>article{
background-color: #f2f2f2;
border-radius: 10px;
padding: 20px;

}

.card>img{
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.info>a{
text-decoration: none;
background-color: black;
color: white;
opacity: 0.5;
border-radius: 5px;
padding: 8px 15px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.info>a:hover {
  background-color: gray;
  color: black;
  transition: all 2s;
  border-radius: 10px 100px; 
}
@media (max-width: 600px) {
  
 	.card{
		grid-template-columns: repeat(1, 1fr);
		padding: 100px;
	}
    header { width: 100%; }
    footer{ width: 100%; }
   

  }